<div class="flex flex-col relative">
  <div class="flex relative">
    <div class="w-full max-w-screen-lg px-4 sm:pl-8 sm:pr-16 md:pl-16 pt-4 sm:py-7 mx-auto">
      <div class="relative">
        <div class={"mt-4 py-3 rounded-lg bg-editor"} data-el-editor-container>
        </div>
      </div>
    </div>
  </div>
</div>
